---
- name: Add NVIDIA GPG key
  ansible.builtin.get_url:
    url: https://nvidia.github.io/libnvidia-container/gpgkey
    dest: /usr/share/keyrings/nvidia-container-toolkit-keyring.gpg
    mode: '0644'
  become: true

- name: Create NVIDIA repository file with correct format
  ansible.builtin.template:
    src: nvidia-container-toolkit.list.j2
    dest: /etc/apt/sources.list.d/nvidia-container-toolkit.list
    mode: '0644'
  become: true

- name: Update apt package index
  ansible.builtin.apt:
    update_cache: true
  become: true

- name: Install NVIDIA Container Toolkit
  ansible.builtin.apt:
    name: nvidia-container-toolkit
    state: present
  become: true
