---
- name: Download deb package
  ansible.builtin.get_url:
    url: "{{ deb_package.url }}"
    dest: "{{ role_path }}/files/{{ deb_package.src }}"
    mode: '0644'

- name: Install package from .deb file
  ansible.builtin.apt:
    deb: "{{ role_path }}/files/{{ deb_package.src }}"
    state: present
