---
- name: Check if the key file exists
  ansible.builtin.stat:
    path: "{{ software.key_path }}"
  register: key_exists

- name: Add GPG key
  ansible.builtin.get_url:
    url: "{{ software.key_url }}"
    dest: "{{ software.key_path }}"
    mode: '0644'
    force: true
  when: not key_exists.stat.exists

- name: Add repository
  ansible.builtin.apt_repository:
    repo: "{{ software.repo }}"
    filename: "{{ software.repo_file }}"
    state: present
  register: repo_added
  notify: Update apt cache

- name: Force apt cache update now
  ansible.builtin.meta: flush_handlers

- name: Install packages
  ansible.builtin.apt:
    name: "{{ software.package }}"
    state: present
