---
- name: Check if the key file exists for Kubernetes
  ansible.builtin.stat:
    path: "{{ kubectl_kubernetes_gpg.path }}"
  register: key_exists

- name: Download Kubernetes official GPG key
  ansible.builtin.get_url:
    url: "{{ kubectl_kubernetes_gpg.url }}"
    dest: "{{ kubectl_kubernetes_gpg.tmp_path }}"
    mode: '0644'
  when: kubectl_kubernetes_gpg.url is defined and not key_exists.stat.exists

- name: Add GPG key for Kubernetes
  ansible.builtin.command: >
    gpg --dearmor -o {{ kubectl_kubernetes_gpg.path }} {{ kubectl_kubernetes_gpg.tmp_path }}
  args:
    creates: "{{ kubectl_kubernetes_gpg.path }}"
  when: kubectl_kubernetes_gpg.url is defined and not key_exists.stat.exists

- name: Set up the Kubernetes repository
  ansible.builtin.apt_repository:
    repo: "{{ kubectl_kubernetes_gpg.repo }}"
    filename: "kubernetes"
    state: present
    update_cache: true

- name: Install kubectl
  ansible.builtin.apt:
    name:
      - kubectl
    state: present
    update_cache: true
