---
- name: Apply the changes to .bashrc
  ansible.builtin.shell: source /home/{{ local_user }}/.bashrc
  args:
    executable: /bin/bash
  become_user: "{{ local_user }}"
  when: local_user != 'root'
  changed_when: false

- name: Update apt cache
  ansible.builtin.apt:
    update_cache: true
